<%- include('../_config') %>
<%
  const meta = {
    title: config.siteName,
    description: 'EJS + Sass(scss) + TypeScriptで静的なWebサイトを構築するためのテンプレート',
    url: config.baseUrl
  };
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../components/_head', {head: meta}) %>
</head>

<body>
  <div class="layout">
    <%- include('../components/_header') %>
    <main class="p-top">
      <div class="c-wrapper u-mx-auto p-top__wrapper">
        <div class="p-topLogo">
          <%
            const logo = [
              {
                name: 'EJS',
                path: 'ejs',
                width: '120',
                height: '120'
              },
              {
                name: 'Sass(scss)',
                path: 'sass',
                width: '160',
                height: '120'
              },
              {
                name: 'TypeScript',
                path: 'typescript',
                width: '120',
                height: '120'
              }
            ];

            logo.forEach(value => {
          %>
          <figure class="p-topLogo__img">
            <img class="u-mx-auto" src="<%= config.path %>assets/img/top/<%= value.path %>.svg" alt="" width="<%= value.width %>" height="<%= value.height %>">
            <figcaption><%= value.name %></figcaption>
          </figure>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include('../components/_footer') %>
  </div>
</body>

</html>