<% const path = "/"; %>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title><%= head.title %></title>
<meta name="title" content="<%= head.title %>" />
<meta name="description" content="<%= head.description %>" />
<%# <link rel="canonical" href="#" /> %>
<!-- Open Graph / Facebook -->
<%# <meta property="fb:app_id" content="AppID" /> %>
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= head.url %>" />
<meta property="og:title" content="<%= head.title %>" />
<meta property="og:description" content="<%= head.description %>" />
<meta property="og:image" content="/ogp.jpg" />
<meta property="og:site-name" content="Static Site Template" />
<!-- Twitter -->
<%# <meta name="twitter:site" content="@AppID" /> %>
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="<%= head.url %>" />
<meta property="twitter:title" content="<%= head.title %>" />
<meta property="twitter:image" content="/ogp.jpg" />
<meta property="twitter:description" content="<%= head.description %>" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@700&display=swap" media="print" onload="this.media='all'" />
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@700&display=swap" rel="stylesheet" />
</noscript>
<!-- icon -->
<link rel="icon" href="<%= path %>favicon.ico" sizes="any" />
<link rel="icon" href="<%= path %>favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="<%= path %>apple-touch-icon.png" />
<link rel="manifest" href="<%= path %>manifest.webmanifest" />
<!-- css -->
<link rel="stylesheet" href="<%= path %>assets/css/style.css" />
<!-- js -->
<script defer src="<%= path %>assets/js/bundle.js"></script>